<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Something about burgers!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="https://fontmeme.com/3d-fonts/"><img
                    src="https://fontmeme.com/permalink/190519/a8347108d72609c17c204ff679b4f9e7.png" alt="3d-fonts"
                    border="0"></a>
        </div>
    </div>
    {{{ body }}}


</body>
<script src="https://code.jquery.com/jquery.js"></script>
<script src='/assets/js/burgers.js'></script>

</html>